@import "compass/reset";
@import "compass/css3/border-radius";

/* local imports */
@import "variables";
@import "components";

body {
    background: $base-color;
    font-size: 100%;
    cursor: default;
    font-size: 15px;
}
